<div *ngIf="username === ''; else hasUsername">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3">
      <app-join-room-form
        [roomId]="roomId"
        (username)="setUsername($event)"
      ></app-join-room-form>
    </div>
  </div>
</div>

<ng-template #hasUsername>
  <div class="row no-gutters">
    <div class="col-12 col-md-10">
      <ng-container>
        <app-round-display></app-round-display>
      </ng-container>
    </div>
    <div class="col-12 col-md-2">
      <div>
        <div>Share this link with your friends</div>
        <app-share-room-link></app-share-room-link>
      </div>
      <div class="w-100 text-right">
        <app-ready-up-button></app-ready-up-button>
      </div>
      <div class="d-none d-lg-block">
        <app-user-list [roomId]="roomId"></app-user-list>
      </div>
    </div>
  </div>
</ng-template>
