<div *ngIf="player; else joinRoom">
  <div class="row no-gutters">
    <div class="col-12 col-md-8">Hello {{ player.username }}</div>
    <div class="col-12 col-md-4">
      <div>
        <div>Share this link with your friends</div>
        <app-share-room-link></app-share-room-link>
      </div>
      <div class="row no-gutters">
        <div class="col-md-8 d-none d-lg-block">
          <app-user-list [roomId]="roomId"></app-user-list>
        </div>
        <div class="col-12 col-md-4 text-right">
          <app-ready-up-button></app-ready-up-button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #joinRoom>
  <div class="row no-gutters">
    <div class="col-12 col-md-6 offset-md-3">
      <app-join-room-form [roomId]="roomId"></app-join-room-form>
    </div>
  </div>
</ng-template>
<!-- <ng-template #hasUsername>
  <div class="row no-gutters">
    <div class="col-12 col-md-10">
      <ng-container *ngIf="!endGame; else showResults">
        <app-round-display></app-round-display>
      </ng-container>
      <ng-template #showResults>
        <ng-container *ngFor="let round of rounds">
          <h5>{{ round.word }}</h5>
          <div *ngFor="let answer of round.answers | keyvalue">
            {{ answer.value.username }} - {{ answer.value.answer }}
          </div>
        </ng-container>
      </ng-template>
    </div>
    <div class="col-12 col-md-2">
      <div>
        <div>Share this link with your friends</div>
        <app-share-room-link></app-share-room-link>
      </div>
      <div class="w-100 text-right">
        <app-ready-up-button></app-ready-up-button>
      </div>

    </div>
  </div>
</ng-template> -->
