<ng-container *ngIf="round; else roundNotStarted">
  <div class="row no-gutters">
    <div class="col-12 d-flex justify-content-between">
      <div>{{ round.word }}</div>
      <div>{{ time }}</div>
    </div>
    <div class="col-12">
      <ng-container *ngIf="active; else guessBox">
        <div>
          <input
            class="form-control"
            [(ngModel)]="answer"
            type="text"
            name="answer"
            (ngModelChange)="updateAnswer()"
          />
        </div>
        <app-emoji-keyboard (emoji)="addToAnswer($event)"></app-emoji-keyboard>
      </ng-container>
      <ng-template #guessBox>
        <app-guess-box></app-guess-box>
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #roundNotStarted>
  <p>Round has not started</p>
</ng-template>
